.container {
    margin: 80px;
    padding: 15px;
}

.card {
    width: 15rem;
    text-align: center;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}