<div class=" poke-container">
    <div *ngFor="let pokemon of pokemonList" class="pokemon">
        <div class="img-container">
            <img class="card-img-top"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon.id}}.png"
                alt="" />
        </div>
        <div class="card-body">
            <span class="number">#{{pokemon.id | pokemonId }}</span>
            <h3 class="card-title">{{pokemon.name | pokemonName}}</h3>
            <h6 class="card-subtitle mb-2 text-muted">Type : {{pokemon.types[0].type.name | pokemonName}}</h6>
            <h3>{{ "FirstNamE" | lowercase }}
                
            </h3>
        </div>
    </div>
</div>